<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="icon" href="data:,">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Geocode location to Weather v1.0</p>
        <form>
            <input id="input" type="text" placeholder="Location">
            <button>Submit</button>
        </form>
        <p id="message-one">Location</p>
        <p id="message-two"></p>
        <p id="message-three"></p>
        <p id="message-four"></p>
        <p id="message-five"></p>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>

</html>