<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="icon" href="data:,">
    <script src="/js/script.js"></script>
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Test Test Test Test Test v1.0</p>
        <form>
            <input type="text" id="input" placeholder="Location">
            <button id="submit-btn">Submit</button>
        </form>
    </div>
    {{>footer}}
</body>

</html>